<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="id.mustofa.app.amber">
  
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  
  <permission android:name="id.mustofa.app.amber.provider.READ_DATABASE" />
  <permission android:name="id.mustofa.app.amber.provider.WRITE_DATABASE" />
  
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    
    <!-- Activities -->
    <activity
      android:name=".splash.SplashActivity"
      android:theme="@style/AppTheme.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".main.MainActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name=".moviedetail.MovieDetailActivity"
      android:theme="@style/AppTheme.MaterialNoActionBar" />
    <activity
      android:name=".setting.SettingActivity"
      android:label="@string/title_setting" />
    
    <!-- Receivers -->
    <receiver
      android:name=".notification.NotificationReceiver"
      android:enabled="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    
    <receiver
      android:name=".widget.MovieFavoriteWidget"
      android:label="@string/title_widget_movie_favorite_title">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/movie_favorite_widget_info" />
    </receiver>
    
    <!--Services-->
    <service
      android:name=".widget.MovieFavoriteWidgetService"
      android:exported="false"
      android:permission="android.permission.BIND_REMOTEVIEWS" />
    
    <!--Providers-->
    <provider
      android:name=".provider.MovieFavoriteProvider"
      android:authorities="id.mustofa.app.amber.provider"
      android:exported="true"
      android:readPermission="id.mustofa.app.amber.provider.READ_DATABASE"
      android:writePermission="id.mustofa.app.amber.provider.WRITE_DATABASE" />
  </application>

</manifest>